.cke .cke_top
{
    display:block !important;
}
.ck-editor__editable {
    min-height: 150px;
}

.ck-content {
    color: black;
}

blockquote {
    background: #f2f2f2;
    border-right: 7px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
